GameStore/GameStore/GameStore.BLL/Service References/PaymentService/PaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58908/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.Model" />
  <xs:element name="PayByVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="data" nillable="true" type="q1:PaymentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="PayByVisaResult" type="q2:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByMasterCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="data" nillable="true" type="q3:PaymentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByMasterCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="PayByMasterCardResult" type="q4:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankService.Model" minOccurs="0" name="ConfirmResult" type="q5:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>